
### KEY-LOAK-WEBHOOK  ##############################################

KEYCLOAK_WEBHOOK_PORT=8099
KEYCLOAK_WEBHOOK_SECRET=un_secreto_largo_y_aleatorio
KEYCLOAK_WEBHOOK_LOG_LEVEL=INFO
RABBITMQ_KEYCLOAK_VHOST=maya_sync
RABBITMQ_KEYCLOAK_EXCHANGE=ex.keycloak.events

### MAYA-ODOO-WORKERS  ##############################################

ODOO_URL=web
ODOO_DB=odoo_db
RABBIT_HOST=rabbitmq
RABBIT_PORT=${RABBITMQ_PORT}

#### USER-CONSUMER #####

# definir un usuario de odoo que solo tenga acceso los usuarios
USER_WORKER_ODOO=admin
USER_WORKER_ODOO_PASSWORD=admin

# usuario RabbitMQ
USER_WORKER_RABBIT_USER=admin
USER_WORKER_RABBIT_PASS=secret
USER_WORKER_QUEUE_NAME=dev.q.keycloak